html, body {
    margin: 0px; padding: 0px;
}

p {
    font-family: Verdana, Arial, sans-serif;
    font-size: 12pt;
    text-indent: 3em;
    padding: 0.5em;
}


h1 + p:first-letter { font-size: 20pt ;
                        color: tomato;
                       font-weight: bold; 
    }


h1 { 
     text-align: center; 
     border-bottom: 2px dotted seagreen;
     margin: 0.5em;
     width: 13em;
     margin-right: 2em;
     margin-left: auto;    
} 

.idezet {
    border-left: 4px seagreen solid;
    padding-left: 1em;
    border-left: 2px solid seagreen;
    margin-left: 2em;
    font-style: italic;
   
}

.lebeg_jobbra {
    float: right;
    margin: 10px;
}
